.flex_column.av-y0fwqf-d0bb341b86af066f944ae63e510bd1a6{
width:100%;
margin-left:0;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-y0fwqf-d0bb341b86af066f944ae63e510bd1a6 .av-flex-placeholder{
width:0%;
}

.avia-image-container.av-lo5xm9l9-250b4826fcde9605c12988e0d8f2fef9 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lo5xm9l9-250b4826fcde9605c12988e0d8f2fef9 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-vy931j-864797fa521fd3d7ad2ad724996619c9{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lo5xifov-8401d29a773102b12235c0ef8dea35b8{
padding-bottom:30px;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-lo5xifov-8401d29a773102b12235c0ef8dea35b8 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo5xifov-8401d29a773102b12235c0ef8dea35b8 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-lo5xifov-8401d29a773102b12235c0ef8dea35b8 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo5xifov-8401d29a773102b12235c0ef8dea35b8 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-31mt2f-61497c98a92e4126da9b887ac5ad9598{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-31mt2f-61497c98a92e4126da9b887ac5ad9598:hover .avia_button_background{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
}

.flex_cell.av-r9ru9z-1ead1ef0e311f0b2d8a8c5e5af4cb10b{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-r9ru9z-1ead1ef0e311f0b2d8a8c5e5af4cb10b{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lresbmcm-b4f2a20e992cf953b8f4ccd0ea176d07 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lresbmcm-b4f2a20e992cf953b8f4ccd0ea176d07 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-2mce93-3a6ccb747d0bc4acdb0585175559cf06{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-2mce93-3a6ccb747d0bc4acdb0585175559cf06{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lres95oi-a2676805bc72eda086ffc9a0e9c57365 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lres95oi-a2676805bc72eda086ffc9a0e9c57365 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lres95oi-a2676805bc72eda086ffc9a0e9c57365 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lres95oi-a2676805bc72eda086ffc9a0e9c57365 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-m83f13-c4b218a4ff696ad4b07d8b20a528e869{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-m83f13-c4b218a4ff696ad4b07d8b20a528e869{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lresfh7u-42cc8a7ab875a7a56f026c416d85c0be img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lresfh7u-42cc8a7ab875a7a56f026c416d85c0be .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-lfnr6f-99a51cc23c725db726056d161d27a170{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-lfnr6f-99a51cc23c725db726056d161d27a170{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lrescgze-30b13569d777eb535bfbe30003c5413f p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrescgze-30b13569d777eb535bfbe30003c5413f p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrescgze-30b13569d777eb535bfbe30003c5413f p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrescgze-30b13569d777eb535bfbe30003c5413f .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-gybxdz-8c2f9174c82d4ccbae688475928070e6{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-gybxdz-8c2f9174c82d4ccbae688475928070e6{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lresg0kx-30bc0e85c4e196adb97eeada341f0846 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lresg0kx-30bc0e85c4e196adb97eeada341f0846 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-gg97gn-e36300276e029a2004b8d6b4731e17db{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-gg97gn-e36300276e029a2004b8d6b4731e17db{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lresdxx4-dba262e21404b5fb13bfbe792e52b207 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lresdxx4-dba262e21404b5fb13bfbe792e52b207 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lresdxx4-dba262e21404b5fb13bfbe792e52b207 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lresdxx4-dba262e21404b5fb13bfbe792e52b207 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-d7me1z-b94388dbe5d66a7623c361bce2a61e3c{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-d7me1z-b94388dbe5d66a7623c361bce2a61e3c{
padding:20px 20px 20px 20px !important;
}

.avia-section.av-aeb9rb-b5173bd5a55d1ebfbb6cc304b86cdf97{
background-repeat:no-repeat;
background-image:url(https://easeglobe.com/wp-content/uploads/2022/09/WokWok-Media-Team-1030x579.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-aeb9rb-b5173bd5a55d1ebfbb6cc304b86cdf97 .av-section-color-overlay{
opacity:0.8;
background-color:#000000;
}

.flex_column.av-9verav-68016805e81187d607b49b2e9759d722{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-7rf7d3-f7ee6f60ee684a7e52314621eaf008f9{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-57pt1z-d88ffe12e75e09739b2ade7d3d4edc00{
padding-bottom:20px;
font-size:50px;
}
body .av-special-heading.av-57pt1z-d88ffe12e75e09739b2ade7d3d4edc00 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-57pt1z-d88ffe12e75e09739b2ade7d3d4edc00 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-57pt1z-d88ffe12e75e09739b2ade7d3d4edc00 .av-subheading{
font-size:15px;
}

.flex_column.av-3ajg9z-13cc5dadcffc82415dd7fb34c4415ebf{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lo5xifov-8401d29a773102b12235c0ef8dea35b8 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-57pt1z-d88ffe12e75e09739b2ade7d3d4edc00 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lo5xifov-8401d29a773102b12235c0ef8dea35b8 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-57pt1z-d88ffe12e75e09739b2ade7d3d4edc00 .av-special-heading-tag{
font-size:0.8em;
}
}
