.flex_column.av-33ae6t-c59d1bf64c8e885f11069fe5396c51d0{
width:100%;
margin-left:0;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-33ae6t-c59d1bf64c8e885f11069fe5396c51d0 .av-flex-placeholder{
width:0%;
}

.avia-image-container.av-lpweo8c2-0da04d30ca8ff47f0d58da9a061c1a0a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lpweo8c2-0da04d30ca8ff47f0d58da9a061c1a0a .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-syw7at-fe94b8ddc5a1be65e249bf4e498f9de4{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lpwdlyl4-a66c436f3dab9e0ddf82a7e814f22f60{
padding-bottom:30px;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-lpwdlyl4-a66c436f3dab9e0ddf82a7e814f22f60 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lpwdlyl4-a66c436f3dab9e0ddf82a7e814f22f60 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-lpwdlyl4-a66c436f3dab9e0ddf82a7e814f22f60 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lpwdlyl4-a66c436f3dab9e0ddf82a7e814f22f60 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-rssfed-9300c36edb325c99784422183c10747d{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-rssfed-9300c36edb325c99784422183c10747d:hover .avia_button_background{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
}

.flex_cell.av-o0asyt-dd3cebfb261eeaf70bd1baf8b69c7256{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-o0asyt-dd3cebfb261eeaf70bd1baf8b69c7256{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lrep9cux-739b2ebfe313b0a75c149c65606fef95 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrep9cux-739b2ebfe313b0a75c149c65606fef95 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-lr0pgl-ca7a4ad03b603c12765527024ddb20ee{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-lr0pgl-ca7a4ad03b603c12765527024ddb20ee{
padding:20px 20px 20px 20px !important;
}

#top .av_textblock_section.av-lpwefl67-5ce60a624e2a576927ff1241ae8b24ec .avia_textblock{
color:#ffffff;
}

#top .togglecontainer.av-7041wl-0850154c2de0cd4578d374bdef242e95 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-7041wl-0850154c2de0cd4578d374bdef242e95 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-7041wl-0850154c2de0cd4578d374bdef242e95 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-7041wl-0850154c2de0cd4578d374bdef242e95 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-iic6bp-317e0cf72ad409cc7c71b31226ccbfa4{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-iic6bp-317e0cf72ad409cc7c71b31226ccbfa4{
padding:20px 0 20px 0 !important;
}

.avia-image-container.av-lrepo1cd-bef91d0e5012bd235056959cd57ae96e img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrepo1cd-bef91d0e5012bd235056959cd57ae96e .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-h4bc2t-0b87c390ccfae0ee3f57afe4245bc718{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-h4bc2t-0b87c390ccfae0ee3f57afe4245bc718{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lrep5r8s-be3180fe421eb1d392c108a9a89e23b6 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrep5r8s-be3180fe421eb1d392c108a9a89e23b6 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrep5r8s-be3180fe421eb1d392c108a9a89e23b6 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrep5r8s-be3180fe421eb1d392c108a9a89e23b6 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-eqjmo5-12ab2fc7536a9bf6e5c8bc578c764d01{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-eqjmo5-12ab2fc7536a9bf6e5c8bc578c764d01{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lrepp3iz-916b512ce1ddbe52fb0a5647aa2c3d67 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrepp3iz-916b512ce1ddbe52fb0a5647aa2c3d67 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-c507th-d8925e0a32293c3c4f3c79c06d4edd62{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-c507th-d8925e0a32293c3c4f3c79c06d4edd62{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lreplt3k-570bb4b3c14c5a6533e44e1e0d5fd1af p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreplt3k-570bb4b3c14c5a6533e44e1e0d5fd1af p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreplt3k-570bb4b3c14c5a6533e44e1e0d5fd1af p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreplt3k-570bb4b3c14c5a6533e44e1e0d5fd1af .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.avia-section.av-acdedx-59392ff6fbad3d82defbbff6852b3e51{
background-repeat:no-repeat;
background-image:url(https://easeglobe.com/wp-content/uploads/2022/09/WokWok-Media-Team-1030x579.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-acdedx-59392ff6fbad3d82defbbff6852b3e51 .av-section-color-overlay{
opacity:0.8;
background-color:#000000;
}

.flex_column.av-9wkrph-d2a08460c3706e457dfda888eb4665a5{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-7qxezp-fba0ae8ce81d47d44ba6de769aaf6942{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-5sa4cl-c6a43ff90ffb4bbf33be45414b0507a4{
padding-bottom:20px;
font-size:50px;
}
body .av-special-heading.av-5sa4cl-c6a43ff90ffb4bbf33be45414b0507a4 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-5sa4cl-c6a43ff90ffb4bbf33be45414b0507a4 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-5sa4cl-c6a43ff90ffb4bbf33be45414b0507a4 .av-subheading{
font-size:15px;
}

.flex_column.av-2w39hh-c5716251ca872e259b4982e03c0d014b{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lpwdlyl4-a66c436f3dab9e0ddf82a7e814f22f60 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-5sa4cl-c6a43ff90ffb4bbf33be45414b0507a4 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lpwdlyl4-a66c436f3dab9e0ddf82a7e814f22f60 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-5sa4cl-c6a43ff90ffb4bbf33be45414b0507a4 .av-special-heading-tag{
font-size:0.8em;
}
}
