.flex_column.av-popfy7-ecf75d07bddad3e23b6d8523fef06b2d{
width:100%;
margin-left:0;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-popfy7-ecf75d07bddad3e23b6d8523fef06b2d .av-flex-placeholder{
width:0%;
}

.avia-image-container.av-lo5y73m2-5259361ab62bcaa04563155a21e46abd img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lo5y73m2-5259361ab62bcaa04563155a21e46abd .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-obj1dr-aecc37b519f048e748009e9821a47c2a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lo5y04s7-b19c12dc8d80a9cc6768f251e656b874{
padding-bottom:30px;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-lo5y04s7-b19c12dc8d80a9cc6768f251e656b874 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo5y04s7-b19c12dc8d80a9cc6768f251e656b874 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-lo5y04s7-b19c12dc8d80a9cc6768f251e656b874 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo5y04s7-b19c12dc8d80a9cc6768f251e656b874 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-n34j33-2a36916c701987840a083ada82809ced{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-n34j33-2a36916c701987840a083ada82809ced:hover .avia_button_background{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
}

.flex_cell.av-j7uljj-1b67f171690f788a2ebbffba769dda09{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-j7uljj-1b67f171690f788a2ebbffba769dda09{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lrepqzza-1ab48e965f3b0886f6de29f8d2d161aa img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrepqzza-1ab48e965f3b0886f6de29f8d2d161aa .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-gtuj7j-9d31fbb180b61ae0e5ad2e77bef240fe{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-gtuj7j-9d31fbb180b61ae0e5ad2e77bef240fe{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lrepvugn-5ef099ff4c52b5e4012f5655c58b657d p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrepvugn-5ef099ff4c52b5e4012f5655c58b657d p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrepvugn-5ef099ff4c52b5e4012f5655c58b657d p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrepvugn-5ef099ff4c52b5e4012f5655c58b657d .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-lrroofjs-604353246ac92c80327a420f693184ab{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-lrroofjs-604353246ac92c80327a420f693184ab{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lrrom8rs-bf4b99f92b149889610ff3394aa60d47 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrrom8rs-bf4b99f92b149889610ff3394aa60d47 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-9lrq7-c5061c18d5142f414aa3a85ac6225595{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-9lrq7-c5061c18d5142f414aa3a85ac6225595{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lrepzw8z-be27256e84f86522c9188f374b7497c8 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrepzw8z-be27256e84f86522c9188f374b7497c8 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrepzw8z-be27256e84f86522c9188f374b7497c8 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lrepzw8z-be27256e84f86522c9188f374b7497c8 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.avia-section.av-b3xc7j-2934aa2eedc34f884d0992f2533339f8{
background-repeat:no-repeat;
background-image:url(https://www.easeglobe.demotestsite.link/wp-content/uploads/2022/09/WokWok-Media-Team-1030x579.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-b3xc7j-2934aa2eedc34f884d0992f2533339f8 .av-section-color-overlay{
opacity:0.8;
background-color:#000000;
}

.flex_column.av-9tct9r-ab582817c226228f5fd18adfa3ae9c78{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-7w3vwf-459034892e6e732ee76f522ddc7571c6{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-m5dfz-77422e3cf8efef4f1f7060e04ded7cee{
padding-bottom:20px;
font-size:50px;
}
body .av-special-heading.av-m5dfz-77422e3cf8efef4f1f7060e04ded7cee .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-m5dfz-77422e3cf8efef4f1f7060e04ded7cee .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-m5dfz-77422e3cf8efef4f1f7060e04ded7cee .av-subheading{
font-size:15px;
}

.flex_column.av-30iigf-6eac786744348a50ccb595dabf85ecf0{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lo5y04s7-b19c12dc8d80a9cc6768f251e656b874 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-m5dfz-77422e3cf8efef4f1f7060e04ded7cee .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lo5y04s7-b19c12dc8d80a9cc6768f251e656b874 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-m5dfz-77422e3cf8efef4f1f7060e04ded7cee .av-special-heading-tag{
font-size:0.8em;
}
}
