#top #wrap_all .avia-slideshow .av-slideshow-caption.av-9idtf6-09878380835f1531da8cbfe64890d1fb__0 .avia-caption-title{
font-size:70px;
}
#top .avia-slideshow .av-slideshow-caption.av-9idtf6-09878380835f1531da8cbfe64890d1fb__0 .avia-caption-content{
font-size:38px;
}
#top .avia-slideshow .av-slideshow-caption.av-9idtf6-09878380835f1531da8cbfe64890d1fb__0 .avia-caption-content p{
font-size:38px;
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .avia-slideshow .av-slideshow-caption.av-9idtf6-09878380835f1531da8cbfe64890d1fb__0 .avia-caption-title{
font-size:20px;
}
#top .avia-slideshow .av-slideshow-caption.av-9idtf6-09878380835f1531da8cbfe64890d1fb__0 .avia-caption-content{
font-size:12px;
}
#top .avia-slideshow .av-slideshow-caption.av-9idtf6-09878380835f1531da8cbfe64890d1fb__0 .avia-caption-content p{
font-size:12px;
}
}

#top #wrap_all .avia-slideshow .av-slideshow-caption.av-lnq2gvfw-2c62f25a1526e83777baab686fd1c5fe__0 .avia-caption-title{
font-size:70px;
}
#top .avia-slideshow .av-slideshow-caption.av-lnq2gvfw-2c62f25a1526e83777baab686fd1c5fe__0 .avia-caption-content{
font-size:38px;
}
#top .avia-slideshow .av-slideshow-caption.av-lnq2gvfw-2c62f25a1526e83777baab686fd1c5fe__0 .avia-caption-content p{
font-size:38px;
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .avia-slideshow .av-slideshow-caption.av-lnq2gvfw-2c62f25a1526e83777baab686fd1c5fe__0 .avia-caption-title{
font-size:20px;
}
#top .avia-slideshow .av-slideshow-caption.av-lnq2gvfw-2c62f25a1526e83777baab686fd1c5fe__0 .avia-caption-content{
font-size:12px;
}
#top .avia-slideshow .av-slideshow-caption.av-lnq2gvfw-2c62f25a1526e83777baab686fd1c5fe__0 .avia-caption-content p{
font-size:12px;
}
}

.avia-section.av-lrt9wb1b-0976474939702159b048cde7cb6ef387{
background-color:#0a0a0a;
background-image:unset;
}

#top .av_textblock_section.av-lrt93a2s-9012dad23f890c4dd1d22a41d5d76f8b .avia_textblock{
color:#ffffff;
}

.avia-section.av-lrdt8j0y-80b2c1fb4608fe27bcf89f3195e7a588{
background-color:#0a0a0a;
background-image:unset;
}

#top .av_textblock_section.av-1gw5my-0d1873fff1f7190f81bad30a82ff2d09 .avia_textblock{
color:#ffffff;
}

.avia-section.av-1akj6y-4cfb0f2a8d5a23a0b62d8f1923a93b43{
background-color:#0a0a0a;
background-image:unset;
}

.avia-image-container.av-36rfe-81f4351a2f10af6bac118a050b6be89d img.avia_image{
box-shadow:none;
}
.avia-image-container.av-36rfe-81f4351a2f10af6bac118a050b6be89d .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-mc0p6-c447ad4e9ce5dd81c983ca27c8688f24{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-mc0p6-c447ad4e9ce5dd81c983ca27c8688f24 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-mc0p6-c447ad4e9ce5dd81c983ca27c8688f24 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-mc0p6-c447ad4e9ce5dd81c983ca27c8688f24 .av-subheading{
font-size:15px;
}
body .av-special-heading.av-mc0p6-c447ad4e9ce5dd81c983ca27c8688f24 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-mc0p6-c447ad4e9ce5dd81c983ca27c8688f24 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av_textblock_section.av-1auze-dcebadb41dcd488fe313a0f208374837 .avia_textblock{
color:#ffffff;
}

#top #wrap_all .avia-button.av-biegq-1eef3d152eb60fbf6b945890e0ad1c1b{
border-style:solid;
border-width:3px 3px 3px 3px;
border-color:#ffffff;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-biegq-1eef3d152eb60fbf6b945890e0ad1c1b:hover{
color:white;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

.avia-section.av-11c0ii-ea314ec2da920c7e8a53838edc0ed81c{
background-color:#0a0a0a;
background-image:unset;
}

.avia-image-container.av-lrdtacuo-c1aec430c01203ff41109617019c3757 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrdtacuo-c1aec430c01203ff41109617019c3757 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-lrdu32jw-4e3c10b56416839d3903aa4dd8475f29{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-lrdu32jw-4e3c10b56416839d3903aa4dd8475f29 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lrdu32jw-4e3c10b56416839d3903aa4dd8475f29 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lrdu32jw-4e3c10b56416839d3903aa4dd8475f29 .av-subheading{
font-size:15px;
}
body .av-special-heading.av-lrdu32jw-4e3c10b56416839d3903aa4dd8475f29 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-lrdu32jw-4e3c10b56416839d3903aa4dd8475f29 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av_textblock_section.av-lrdtbgo4-aeca0c9b886f222257d44c32c5da0bb5 .avia_textblock{
color:#ffffff;
}

#top #wrap_all .avia-button.av-1rax5e-28cf7d55e584aa9778a626347e2ffbcd{
border-style:solid;
border-width:3px 3px 3px 3px;
border-color:#ffffff;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-1rax5e-28cf7d55e584aa9778a626347e2ffbcd:hover{
color:white;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

.avia-section.av-8d6i-b8e321548187c0bcc13debb524ceb491{
background-color:#0a0a0a;
background-image:unset;
}

.avia-image-container.av-lrdtdyw4-c3c37180f3d225b4b2501cec1b72adff img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrdtdyw4-c3c37180f3d225b4b2501cec1b72adff .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-17xfky-75dbd342f6ee1a4fbcbf8fc897a8b789{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-17xfky-75dbd342f6ee1a4fbcbf8fc897a8b789 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-17xfky-75dbd342f6ee1a4fbcbf8fc897a8b789 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-17xfky-75dbd342f6ee1a4fbcbf8fc897a8b789 .av-subheading{
font-size:15px;
}
body .av-special-heading.av-17xfky-75dbd342f6ee1a4fbcbf8fc897a8b789 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-17xfky-75dbd342f6ee1a4fbcbf8fc897a8b789 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av_textblock_section.av-lrdtetfo-a9d3f9cf8d3f47b98969414b4f8dc662 .avia_textblock{
color:#ffffff;
}

#top #wrap_all .avia-button.av-lrdtixr1-10fbab080f51d272c8c1420e3cfccd8b{
border-style:solid;
border-width:3px 3px 3px 3px;
border-color:#ffffff;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-lrdtixr1-10fbab080f51d272c8c1420e3cfccd8b:hover{
color:white;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

.avia-section.av-1n6zj6-82b144a6ce0a50766113efe7365a0ee5{
background-color:#0a0a0a;
background-image:unset;
}

.avia-image-container.av-lrdtrx0z-812674677d66ad0efd36b97220a609a9 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrdtrx0z-812674677d66ad0efd36b97220a609a9 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-10xqmi-cddaffb3cbea04bbbfeb7ff0b9046931{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-10xqmi-cddaffb3cbea04bbbfeb7ff0b9046931 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-10xqmi-cddaffb3cbea04bbbfeb7ff0b9046931 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-10xqmi-cddaffb3cbea04bbbfeb7ff0b9046931 .av-subheading{
font-size:15px;
}
body .av-special-heading.av-10xqmi-cddaffb3cbea04bbbfeb7ff0b9046931 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-10xqmi-cddaffb3cbea04bbbfeb7ff0b9046931 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av_textblock_section.av-lrdttkao-9ce8585024ce228273c72a35ade01674 .avia_textblock{
color:#ffffff;
}

#top #wrap_all .avia-button.av-1azk36-2eba260a4a21a5cf4592f027d907d605{
border-style:solid;
border-width:3px 3px 3px 3px;
border-color:#ffffff;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-1azk36-2eba260a4a21a5cf4592f027d907d605:hover{
color:white;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

.avia-section.av-zitai-137604ec59fffcdcf8429f1f32a19213{
background-color:#0a0a0a;
background-image:unset;
}

.avia-image-container.av-lrdtuop1-775552091edec4e550d487952cf74a03 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrdtuop1-775552091edec4e550d487952cf74a03 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-w0s96-e6d8b3000d69b21398f22ab947f743a7{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-w0s96-e6d8b3000d69b21398f22ab947f743a7 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-w0s96-e6d8b3000d69b21398f22ab947f743a7 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-w0s96-e6d8b3000d69b21398f22ab947f743a7 .av-subheading{
font-size:15px;
}
body .av-special-heading.av-w0s96-e6d8b3000d69b21398f22ab947f743a7 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-w0s96-e6d8b3000d69b21398f22ab947f743a7 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av_textblock_section.av-ebbya-6571251c2d6f1984378fe5b6ee8afb4e .avia_textblock{
color:#ffffff;
}

#top #wrap_all .avia-button.av-74moi-8675b5b937d61ee04930fdda86433a47{
border-style:solid;
border-width:3px 3px 3px 3px;
border-color:#ffffff;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-74moi-8675b5b937d61ee04930fdda86433a47:hover{
color:white;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

.avia-section.av-puovu-2ba9476643b6f8b96da23e7c01f78e57{
background-color:#0a0a0a;
background-image:unset;
}

.avia-image-container.av-lrdtx3j0-d1ce3054b7a423bb4a8d846c46276ca4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrdtx3j0-d1ce3054b7a423bb4a8d846c46276ca4 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-lrdu3q08-4b8bdbb97448a007de65e54084fb91cd{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-lrdu3q08-4b8bdbb97448a007de65e54084fb91cd .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lrdu3q08-4b8bdbb97448a007de65e54084fb91cd .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lrdu3q08-4b8bdbb97448a007de65e54084fb91cd .av-subheading{
font-size:15px;
}
body .av-special-heading.av-lrdu3q08-4b8bdbb97448a007de65e54084fb91cd .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-lrdu3q08-4b8bdbb97448a007de65e54084fb91cd .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av_textblock_section.av-fmdmi-0923da18b41cfc47de91765fc05ad74c .avia_textblock{
color:#ffffff;
}

#top #wrap_all .avia-button.av-lrdtypw7-fbb7860a8c84621c370e3d5aec1a1324{
border-style:solid;
border-width:3px 3px 3px 3px;
border-color:#ffffff;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-lrdtypw7-fbb7860a8c84621c370e3d5aec1a1324:hover{
color:white;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

.avia-section.av-g1fai-6d4a16f0313e081b7187554fa4f8f6cc{
background-color:#0a0a0a;
background-image:unset;
}

.avia-section.av-lpjw2mts-cf4035541e39f9fca1000af530685695{
background-color:#000000;
background-image:unset;
}

.avia-image-container.av-lpwcp3uy-c55b1e5b51d828983f82a953c857dc5f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lpwcp3uy-c55b1e5b51d828983f82a953c857dc5f .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-lpjw53ry-01279795ff22674a48bc6a8d7649ff1b img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lpjw53ry-01279795ff22674a48bc6a8d7649ff1b .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-lpjw14et-0c2637e27b6186d2f016df300801e77a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lpjw14et-0c2637e27b6186d2f016df300801e77a .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-lpwcou6m-4781e1b20e222a615e704660efa5f50b img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lpwcou6m-4781e1b20e222a615e704660efa5f50b .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-lpjw5ka2-a13f33f66ed9c9bb9dafb9eede041ef1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lpjw5ka2-a13f33f66ed9c9bb9dafb9eede041ef1 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-lpjw68s8-8813ee6490423886fe7599320042d731 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lpjw68s8-8813ee6490423886fe7599320042d731 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-8l8tw2-5a9dfdd86afde3f7cde56f135c6a659f{
vertical-align:top;
background-color:#000d30;
}
.responsive #top #wrap_all .flex_cell.av-8l8tw2-5a9dfdd86afde3f7cde56f135c6a659f{
padding:90px 50px 90px 50px !important;
}

.iconbox.av-tuehu-be759aacc42a2fd046b2e79a059144a0 .iconbox_icon{
border:1px solid #ffffff;
color:#ffffff;
}
#top #wrap_all .iconbox.av-tuehu-be759aacc42a2fd046b2e79a059144a0 .iconbox_content_title{
color:#ffffff;
}
.iconbox.av-tuehu-be759aacc42a2fd046b2e79a059144a0 .iconbox_content_container{
color:#ffffff;
}

#top #wrap_all .avia-button.av-6hnwyi-681b34412cd25e646c884e2592da2a23{
border-style:none;
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-6hnwyi-681b34412cd25e646c884e2592da2a23:hover .avia_button_background{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
}

.flex_cell.av-se0oy-c5645171edff5ce41df2da3e6771eb90{
vertical-align:top;
background-color:#0a0a0a;
}
.responsive #top #wrap_all .flex_cell.av-se0oy-c5645171edff5ce41df2da3e6771eb90{
padding:90px 50px 90px 50px !important;
}

.iconbox.av-7rd64i-a39093ad002fc3dc5a7d65a012f25072 .iconbox_icon{
color:#ffffff;
}
#top #wrap_all .iconbox.av-7rd64i-a39093ad002fc3dc5a7d65a012f25072 .iconbox_content_title{
color:#ffffff;
}
.iconbox.av-7rd64i-a39093ad002fc3dc5a7d65a012f25072 .iconbox_content_container{
color:#ffffff;
}

#top #wrap_all .avia-button.av-kwska-1f821fe52f3dcc922e25b35e2a31c9a6{
border-style:none;
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-kwska-1f821fe52f3dcc922e25b35e2a31c9a6:hover .avia_button_background{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
}

.avia-section.av-58ye22-13b7edd764b6e72068cc14a6f7d4ea55{
background-color:#000000;
background-image:unset;
}

#top .av-special-heading.av-4zasxu-6795861347863bf3d169b9adc1465ee1{
padding-bottom:20px;
color:#ffffff;
font-size:50px;
}
body .av-special-heading.av-4zasxu-6795861347863bf3d169b9adc1465ee1 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-4zasxu-6795861347863bf3d169b9adc1465ee1 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-4zasxu-6795861347863bf3d169b9adc1465ee1 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-4zasxu-6795861347863bf3d169b9adc1465ee1 .av-subheading{
font-size:15px;
}

.flex_column.av-4vuwai-41b78d8bdbac332e0031f9d3ee8ced11{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-4sbo1m-3c977a109b0f6b99659a94d2d9196792{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-401n4i-1429ebd0893791ccb3697f7a961198f5{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-section.av-3ydnei-aefcc369f02d90e5ab09a14c3436e089{
background-repeat:no-repeat;
background-image:url(https://www.easeglobe.demotestsite.link/wp-content/uploads/2016/02/hero-2.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-3ydnei-aefcc369f02d90e5ab09a14c3436e089 .av-section-color-overlay{
opacity:0.8;
background-color:#000000;
}

#top .av-special-heading.av-3obxsq-ef7a654af1f1ae8d99d4aa860dfcc57e{
padding-bottom:20px;
color:#ffffff;
font-size:50px;
}
body .av-special-heading.av-3obxsq-ef7a654af1f1ae8d99d4aa860dfcc57e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-3obxsq-ef7a654af1f1ae8d99d4aa860dfcc57e .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-3obxsq-ef7a654af1f1ae8d99d4aa860dfcc57e .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-3obxsq-ef7a654af1f1ae8d99d4aa860dfcc57e .av-subheading{
font-size:15px;
}

.flex_column.av-3ji4uq-3c3b9ad35ff48628b5a9bee3fbd560fb{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-3cpg7m-1a7df68dcc03027f65dcf81199631534{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av_textblock_section.av-35v9k2-8394d903f34814eb3526a324b252383d .avia_textblock{
color:#ffffff;
}

.flex_column.av-31gef6-49874c417d32231f9d0ee70370612b87{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-2y8w8q-864ece6b1857f62e4533ffcfa39b012e{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av_font_icon.av-2ol46i-09323e29b9af9404c228532f059b4c5d{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-2ol46i-09323e29b9af9404c228532f059b4c5d .av-icon-char{
font-size:40px;
line-height:40px;
width:40px;
}

.flex_column.av-1xkbci-a311ebf977d2ff3ee8bf0f9b7c70bd0a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av_font_icon.av-1ql7zu-7031101b16554c7b55b6ddead5063d81{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-1ql7zu-7031101b16554c7b55b6ddead5063d81 .av-icon-char{
font-size:40px;
line-height:40px;
width:40px;
}

.flex_column.av-5wxdm-4f5318e1f661d4631abf868536355aaa{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av_font_icon.av-1cq3mq-dfa9c08b4691beb482ff477266ecfcfd{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-1cq3mq-dfa9c08b4691beb482ff477266ecfcfd .av-icon-char{
font-size:40px;
line-height:40px;
width:40px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-4zasxu-6795861347863bf3d169b9adc1465ee1 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-3obxsq-ef7a654af1f1ae8d99d4aa860dfcc57e .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-4zasxu-6795861347863bf3d169b9adc1465ee1 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-3obxsq-ef7a654af1f1ae8d99d4aa860dfcc57e .av-special-heading-tag{
font-size:0.8em;
}
}
