.flex_column.av-1o04r1w-f5ddeccdfbff14bdc531db5414276470{
width:100%;
margin-left:0;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-1o04r1w-f5ddeccdfbff14bdc531db5414276470 .av-flex-placeholder{
width:0%;
}

.avia-image-container.av-lo5x7mvp-d48ee10e17c2fe9f6d7209df79ff5d15 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lo5x7mvp-d48ee10e17c2fe9f6d7209df79ff5d15 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-1msww90-3458382e5ab79f1aca58bfe65b7309fe{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lo5x4dtn-da6f366fbcdb2cb2b8d7d5f2b15b8915{
padding-bottom:30px;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-lo5x4dtn-da6f366fbcdb2cb2b8d7d5f2b15b8915 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo5x4dtn-da6f366fbcdb2cb2b8d7d5f2b15b8915 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-lo5x4dtn-da6f366fbcdb2cb2b8d7d5f2b15b8915 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo5x4dtn-da6f366fbcdb2cb2b8d7d5f2b15b8915 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-lo5x7sjx-d0facb37bd1593a83218c2d328ba9b05 .avia_textblock{
color:#ffffff;
text-align:center;
}

#top #wrap_all .avia-button.av-1lsbles-3a3f112f1defe4373c089ff0122b2b75{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-1lsbles-3a3f112f1defe4373c089ff0122b2b75:hover .avia_button_background{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
}

.flex_cell.av-1hkwmuc-b4bf0b29bd7203791acea5f5b9d434cd{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1hkwmuc-b4bf0b29bd7203791acea5f5b9d434cd{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-lreqe8d2-709e801daf255721c46db24725d70a87 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqe8d2-709e801daf255721c46db24725d70a87 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-1gmxn2c-070099cbe5b7a34afec83500302f034d{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1gmxn2c-070099cbe5b7a34afec83500302f034d{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lreqd0nx-2350635c2e4252c35add35d901a8ad36 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqd0nx-2350635c2e4252c35add35d901a8ad36 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqd0nx-2350635c2e4252c35add35d901a8ad36 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqd0nx-2350635c2e4252c35add35d901a8ad36 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-1crfs10-d2a88a0ddca1bde52965d24a099a35b6{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1crfs10-d2a88a0ddca1bde52965d24a099a35b6{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lreqhdzn-055b721880483e6d8a7a045186630b8e img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqhdzn-055b721880483e6d8a7a045186630b8e .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-1azz6no-a3e3dc6fb9207d13328f281df7970ff0{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1azz6no-a3e3dc6fb9207d13328f281df7970ff0{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lreqf935-4bcfaf6eb26f83e567d0ee7aa5b3039c p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqf935-4bcfaf6eb26f83e567d0ee7aa5b3039c p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqf935-4bcfaf6eb26f83e567d0ee7aa5b3039c p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqf935-4bcfaf6eb26f83e567d0ee7aa5b3039c .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-18lh46c-1708e2bea51503fbffe9b4da48ece910{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-18lh46c-1708e2bea51503fbffe9b4da48ece910{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lreqleqd-50a3705752fd82dae8ee7e05cee4e870 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqleqd-50a3705752fd82dae8ee7e05cee4e870 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-16hkk9g-28314bf5982f60c6579a75a60cc33ca0{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-16hkk9g-28314bf5982f60c6579a75a60cc33ca0{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lreqk1nn-b0a07e670e235b9777b6bfcf7e2c98f4 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqk1nn-b0a07e670e235b9777b6bfcf7e2c98f4 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqk1nn-b0a07e670e235b9777b6bfcf7e2c98f4 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqk1nn-b0a07e670e235b9777b6bfcf7e2c98f4 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-1316ok4-b441a2563c63461d76b255ac227d692a{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1316ok4-b441a2563c63461d76b255ac227d692a{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lreqykdd-34ec142b710d48d81750ab35ec7dd223 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqykdd-34ec142b710d48d81750ab35ec7dd223 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-11mkepg-339b510cf68702136a74fd601913334c{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-11mkepg-339b510cf68702136a74fd601913334c{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-hadiyc-55718fc88b7f736d2b92ae062ff45111 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-hadiyc-55718fc88b7f736d2b92ae062ff45111 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-hadiyc-55718fc88b7f736d2b92ae062ff45111 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-hadiyc-55718fc88b7f736d2b92ae062ff45111 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-ylsihg-2a3430d51d13c7ec17321af8c5cafab6{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-ylsihg-2a3430d51d13c7ec17321af8c5cafab6{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lreqp0kz-0c19f4be683b095ed3e1850a27f76de4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqp0kz-0c19f4be683b095ed3e1850a27f76de4 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-vu7c4k-a847296812ef29a529c2131ee4c5fff9{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-vu7c4k-a847296812ef29a529c2131ee4c5fff9{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-e90u9w-4cb342abc63dd3f3b0bd5b84a3a9b530 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-e90u9w-4cb342abc63dd3f3b0bd5b84a3a9b530 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-e90u9w-4cb342abc63dd3f3b0bd5b84a3a9b530 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-e90u9w-4cb342abc63dd3f3b0bd5b84a3a9b530 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-ta0ktg-457c36163a05a0eb08875194e8bd3e58{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-ta0ktg-457c36163a05a0eb08875194e8bd3e58{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lreqqjfu-9fcd51e216f848e070f57f7de53c04f3 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqqjfu-9fcd51e216f848e070f57f7de53c04f3 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-rx2qw4-7436945f094d68402d567edac8e311c7{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-rx2qw4-7436945f094d68402d567edac8e311c7{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-azuipg-dde90df8918659da6308b60fe238dcdf p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-azuipg-dde90df8918659da6308b60fe238dcdf p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-azuipg-dde90df8918659da6308b60fe238dcdf p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-azuipg-dde90df8918659da6308b60fe238dcdf .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-o7qaj8-952ff4a62ee0dcb39459babe23a5f6b2{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-o7qaj8-952ff4a62ee0dcb39459babe23a5f6b2{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lreqsc6z-596d1f40f5cc5b69083492ba833c5509 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqsc6z-596d1f40f5cc5b69083492ba833c5509 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-mb3878-92d471845ebae51604d680416e55afc6{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-mb3878-92d471845ebae51604d680416e55afc6{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-7tji9w-dcdf6e36f77749f4a98f27f094ee3305 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-7tji9w-dcdf6e36f77749f4a98f27f094ee3305 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-7tji9w-dcdf6e36f77749f4a98f27f094ee3305 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-7tji9w-dcdf6e36f77749f4a98f27f094ee3305 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-jgsbbo-21887ecc14262a3530c82a2e339b42b6{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-jgsbbo-21887ecc14262a3530c82a2e339b42b6{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lreqtyw0-f4176d377fe8baed9e5593ce18f3e0a1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqtyw0-f4176d377fe8baed9e5593ce18f3e0a1 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-hb68wk-d7b9ba1d614dd243a380ce88771ff674{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-hb68wk-d7b9ba1d614dd243a380ce88771ff674{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-h4h38-c7a694e9e60d29934d7d0b3a172c1ec9 p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-h4h38-c7a694e9e60d29934d7d0b3a172c1ec9 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-h4h38-c7a694e9e60d29934d7d0b3a172c1ec9 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-h4h38-c7a694e9e60d29934d7d0b3a172c1ec9 .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.flex_cell.av-drbmgk-58199bcfce6ee00ae42785650cd81423{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-drbmgk-58199bcfce6ee00ae42785650cd81423{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lreqvwl0-57fee7df04383249dd743bd35c3bf8b8 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lreqvwl0-57fee7df04383249dd743bd35c3bf8b8 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-c6xvh0-879096e35ccd9281599b418dc45e7603{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-c6xvh0-879096e35ccd9281599b418dc45e7603{
padding:20px 20px 20px 20px !important;
}

#top .togglecontainer.av-lreqmjnd-fee7e913884a379865b3f325ed1f3b2f p.toggler{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqmjnd-fee7e913884a379865b3f325ed1f3b2f p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqmjnd-fee7e913884a379865b3f325ed1f3b2f p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lreqmjnd-fee7e913884a379865b3f325ed1f3b2f .toggle_wrap .toggle_content{
color:#ffffff;
border-color:#ffffff;
}

.avia-section.av-apn5ec-6d401e796a9ac25c31f8373513657f8f{
background-repeat:no-repeat;
background-image:url(https://easeglobe.com/wp-content/uploads/2022/09/WokWok-Media-Team-1030x579.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-apn5ec-6d401e796a9ac25c31f8373513657f8f .av-section-color-overlay{
opacity:0.8;
background-color:#000000;
}

.flex_column.av-vk0sk-1d576656b845b0245a5dad96559d20b2{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-7xc944-a1a4d0107cb59e77fca03441e0b31b59{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-5iy98k-4d63ef5e222b521d984bb4cb5b39ad98{
padding-bottom:20px;
font-size:50px;
}
body .av-special-heading.av-5iy98k-4d63ef5e222b521d984bb4cb5b39ad98 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-5iy98k-4d63ef5e222b521d984bb4cb5b39ad98 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-5iy98k-4d63ef5e222b521d984bb4cb5b39ad98 .av-subheading{
font-size:15px;
}

.flex_column.av-2rjan8-78ccf275d835d3222138a68c1a6896b5{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lo5x4dtn-da6f366fbcdb2cb2b8d7d5f2b15b8915 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-5iy98k-4d63ef5e222b521d984bb4cb5b39ad98 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lo5x4dtn-da6f366fbcdb2cb2b8d7d5f2b15b8915 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-5iy98k-4d63ef5e222b521d984bb4cb5b39ad98 .av-special-heading-tag{
font-size:0.8em;
}
}
