.flex_column.av-19nx2po-ea7c0ee6c07f3cab9825ebefa15e4cff{
width:100%;
margin-left:0;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-19nx2po-ea7c0ee6c07f3cab9825ebefa15e4cff .av-flex-placeholder{
width:0%;
}

.avia-image-container.av-lo5xqnbi-67c5296427d9070df5d81796d25515a1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lo5xqnbi-67c5296427d9070df5d81796d25515a1 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-18lcefg-d9099e962cbd6309856288d5966cbc35{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-lo5xpyjx-56fd4716d0faaff9a0e880b9b482fae7{
padding-bottom:30px;
color:#ffffff;
font-size:70px;
}
body .av-special-heading.av-lo5xpyjx-56fd4716d0faaff9a0e880b9b482fae7 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lo5xpyjx-56fd4716d0faaff9a0e880b9b482fae7 .av-special-heading-tag{
font-size:70px;
}
.av-special-heading.av-lo5xpyjx-56fd4716d0faaff9a0e880b9b482fae7 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lo5xpyjx-56fd4716d0faaff9a0e880b9b482fae7 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-168nhmk-5e4abe2ea61601c884a7522196a89ddf{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-168nhmk-5e4abe2ea61601c884a7522196a89ddf:hover .avia_button_background{
-webkit-border-radius:100px 100px 100px 100px;
-moz-border-radius:100px 100px 100px 100px;
border-radius:100px 100px 100px 100px;
}

.flex_cell.av-12yx8gs-3248566541d2d5d05955afb23aa63fc5{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-12yx8gs-3248566541d2d5d05955afb23aa63fc5{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lrerq4o7-96c58b5de1fc2df4170f1da863a04dc0 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrerq4o7-96c58b5de1fc2df4170f1da863a04dc0 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-115derg-39d6dc71ebefa5fd0a57489e9dcb4400{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-115derg-39d6dc71ebefa5fd0a57489e9dcb4400{
padding:20px 20px 20px 20px !important;
}

.flex_cell.av-xh2ofg-41291cd7e34cd69481bebec81ee3f160{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-xh2ofg-41291cd7e34cd69481bebec81ee3f160{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lrertaxh-824cf85d61a032602572abdd90469de1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrertaxh-824cf85d61a032602572abdd90469de1 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-wbzc98-0d8f67bb19d4e5f5049e0ea4862f0387{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-wbzc98-0d8f67bb19d4e5f5049e0ea4862f0387{
padding:20px 20px 20px 20px !important;
}

.flex_cell.av-sbq0do-ec1f529250e4e66f64d6ff92de093c10{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-sbq0do-ec1f529250e4e66f64d6ff92de093c10{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lrerxzor-39a059f78c581bc12a9ab4a496340905 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrerxzor-39a059f78c581bc12a9ab4a496340905 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-qncnn0-ede2a06cc5ae4058bb3514371cfb7d2f{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-qncnn0-ede2a06cc5ae4058bb3514371cfb7d2f{
padding:20px 20px 20px 20px !important;
}

.flex_cell.av-nlx6ng-0a6451aa4bde7fb3a3f94c1589b01f86{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-nlx6ng-0a6451aa4bde7fb3a3f94c1589b01f86{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lrerzq9p-a329e2fb6517a61e3d7d22d5fdb49a20 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lrerzq9p-a329e2fb6517a61e3d7d22d5fdb49a20 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-mhhf8s-8365e96e43e546312fc1d882d4cabe15{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-mhhf8s-8365e96e43e546312fc1d882d4cabe15{
padding:20px 20px 20px 20px !important;
}

.flex_cell.av-jfzldo-49d1ce4aa3486bd8b49412bd3d4fe15f{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-jfzldo-49d1ce4aa3486bd8b49412bd3d4fe15f{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lres2gr8-98e9f4ccd8d52fadd83c6bc9329ba931 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lres2gr8-98e9f4ccd8d52fadd83c6bc9329ba931 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-hus9ks-7764e9e8692885b7e22403a398bee0f3{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-hus9ks-7764e9e8692885b7e22403a398bee0f3{
padding:20px 20px 20px 20px !important;
}

.flex_cell.av-dpj3xo-ddfd8cae65a103782d0705c30f7c9688{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-dpj3xo-ddfd8cae65a103782d0705c30f7c9688{
padding:20px 0px 20px 0px !important;
}

.avia-image-container.av-lres609y-f0b50099b4bb20d15a50f77cee6438eb img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lres609y-f0b50099b4bb20d15a50f77cee6438eb .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-br7loc-e5e588ed05bb445f5e60ad97f75c8ab6{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-br7loc-e5e588ed05bb445f5e60ad97f75c8ab6{
padding:20px 20px 20px 20px !important;
}

.avia-section.av-akkjbw-b66ee2d36d60c0503217bfa738d4dd52{
background-repeat:no-repeat;
background-image:url(https://easeglobe.com/wp-content/uploads/2022/09/WokWok-Media-Team-1030x579.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-akkjbw-b66ee2d36d60c0503217bfa738d4dd52 .av-section-color-overlay{
opacity:0.8;
background-color:#000000;
}

.flex_column.av-943ti4-b641cfe1dbc6adbe26c1cad236b50a80{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-7aihsc-557750671b00ac0091a17d2aac0beef8{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-5bq1yk-e744904e5645c1f6c2ce09215ca14d20{
padding-bottom:20px;
font-size:50px;
}
body .av-special-heading.av-5bq1yk-e744904e5645c1f6c2ce09215ca14d20 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-5bq1yk-e744904e5645c1f6c2ce09215ca14d20 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-5bq1yk-e744904e5645c1f6c2ce09215ca14d20 .av-subheading{
font-size:15px;
}

.flex_column.av-2h5xak-142015431ec8d38389c206ec3f2ea6ef{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lo5xpyjx-56fd4716d0faaff9a0e880b9b482fae7 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-5bq1yk-e744904e5645c1f6c2ce09215ca14d20 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lo5xpyjx-56fd4716d0faaff9a0e880b9b482fae7 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-5bq1yk-e744904e5645c1f6c2ce09215ca14d20 .av-special-heading-tag{
font-size:0.8em;
}
}
